<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
 

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] [%C{1}] %-5p: %m%n" />
		</Console>
		<File name="Logfile" fileName="c:\dev\dxc2mcast.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d [%t] [%C{1}] %-5p: %m%n"/>
        </File>
 		 
	</Appenders>
	<Loggers>
	<Logger name="org.quartz" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
		<Root level="trace">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Logfile"/>
		</Root>
	</Loggers>
</Configuration>